<!DOCTYPE html>
<html>
  <head>
    <title>BotShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <form action="" method="POST">
      <script class="stripe-button"
              data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
              data-amount="999"
              data-name="BotShop"
              data-description="Your order"
              data-locale="auto"
              src="https://checkout.stripe.com/checkout.js"
              >
      </script>
    </form>
  </body>
</html>
